.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
  }

.div {
  border: 1px solid black;
  padding: 30px;
}

.tableTitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paing {
  margin-top: 20px;
}

.formInput {
  margin-top: 10px;
}

.basicButton {
  height: 30px;
  margin-top: 10px;
}

.createButton {
  margin-top: 10px;
  width: 80px;
  height: 30px;
  float: right;
  background: blue;
  color: white
}